*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
ul {
    padding:0;
    margin:0;
}
li{
	list-style-type: none;
}
/* End global defined */
.headertop{
	background: #000;
	min-height: 50px;
}
.headertop-left{
	float:left;
}
.headertop-left .dropdown1 {
    position: relative;
    background-color: #fff;
    color: #000;
    border: none;
    margin-top: 1em;
    cursor: pointer;
}
.headertop-right{
	float:right;
}
.headertop-right ul li:nth-child(1) {
    border-left: 1px solid;
}
.headertop-right ul li {
    display: inline-block;
    border-right: 1px solid;
    padding: 1em 1em;
}
.headertop-right ul li.text a {
    color: #fff;
}
.headertop-right ul li a {
    font-size: 1em;
    text-transform: uppercase;
    color: #999;
    text-decoration: none;
}
span.simpleCart_total {
    color: white;
    font-size: small;
}
.cartbox p {
    float: right;
    font-size: 0.8em;
    margin: 0.3em 0.3em 0;
    color: red !important;
}
.header-bottom {
    padding: 2em 0;
}
/* Css for iphone 5 */
@media screen and (max-width: 320px){
	.headertop {
	    background: #000;
	    min-height: 50px;
	    width: 100%;
	}
	.headertop-right ul li {
	    display: inline-block;
	    border-right: 1px solid;
	    padding: 0px;
	    line-height: 50px;
	}

}
/* End top header */
.navbar-header h1 a {
    text-transform: capitalize;
    font-family: 'Corben-Regular';
    font-size: 36px;
    color:#333 !important;
    vertical-align: middle;
}
.navbar-header {
    width: 30%;
    margin-top: -18px;
}
ul.nav.navbar-nav.nav-center {
    margin-top: 6px;
}
.navbar-default .navbar-nav > li > a {
    color: #999;
    text-transform: uppercase;
}
.content.white {
    margin-top: 25px;
}
.navbar.navbar-default {
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul.nav.navbar-nav.nav-center {
    margin-top: 6px;
    width: 70%;
}
/* Css for mobile */
@media screen and (max-width: 600px){
	.navbar-header {
	 	margin-top: -18px;
	}
	.nav>li {
	    position: relative;
	    display: block;
	    width: 100%;
	    background: transparent;
	    text-align: center;
	}
	ul.nav.navbar-nav.nav-center {
	    margin-top: 6px;
	    width: 100%;
	}
	.dropdown-menu a {
   		 text-align: center;
	}
	.navbar-default .navbar-brand {
    	display: none;
	}
	.navbar-header {
	    width: auto;
	    margin-top: -18px;
	}
}
/* End botter bottom */

.banner-grid h2 {
    font-size: 2.5em;
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
}
.banner-grid p {
    font-size: 1em;
    color: #777;
    margin: 1em auto 2em;
    line-height: 1.8em;
}
a.button {
    font-size: 1em;
    text-decoration: none;
    border: 2px solid #000;
    padding: 0.5em 4em;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}
.banner-section {
    text-align: center;
    padding-top: 2em;
}
.col-md-6.banner-grid {
    padding-top: 10%;
}
.col-md-6.banner-grid1 {
    margin-top: 20px;
}
/* End banner */

/* Start slider */
.item{
	position: relative;
	transition: 0.4s;
}
.item:hover .item-info{
	display: block;
}
.item-info {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 145px;
    display: none;
    background-color: rgba(255, 255, 255, 0.54);
    padding: 1.5em 0;
    text-align: center;
}
.item img {
    width: 100%;
}
img {
    vertical-align: middle;
}
.item-info h5 {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}
.full-img{
	padding: 0;
	margin: 0;
}
/* End Start slider */